.add-courses{
  display: none;
}
.step{
  position: relative;
  margin-bottom: 25px;
}
.step .name{

}
.fa-check-circle{
  position: absolute;
  left: -40px;
  bottom: 0px;
  color: green;
  font-size: 30px;
  display: none;
}

.courses{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.course{
	width: 100%;
	border: 1px solid #896D32;
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
}
.course .course-title{
	color: #5F5F5F;
	margin-left: 20px;
	font-size: 25px;
	font-weight: 300;
}
.course .remove{
	float: right;
	color: #F37C6C;
	font-size: 20px;
	width: 50px;
	height: 100%;
	line-height: 35px;
	display: none;
	text-align: center;
}
.course .remove:hover{
	cursor: pointer;
	color: #D75E53;
}
.course:hover .remove{
	display: block;
}
