html{
	height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #A54540;
}
.content{
	padding: 0 5% 0 5%;
	margin: 0 auto;
	width: 60%;
	min-height: 100%;
	background-color: #FCF8E1;
}
.nav{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}
.nav a{
	color: #A54540;
	text-decoration: none;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
.nav a:hover{
	color: #CE5A52;
}
.login-submit, .logout{
	font-size: 13px;
	color:  #A19EA3;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
.login-submit:hover, .login-submit:focus, .logout:hover, .logout:focus{
	color: #A54540;
	cursor: pointer;
}
.login-form{
	float: right;
	position: absolute;
	right: 20%;
}
.login-error{
	font-size: 10px;
	font-style: italic;
	color: #A1463E;
}
.user{
	font-size: 13px;
	position: absolute;
	right: 20%;
	color: #A19EA3;
}
.step{
	color: #A19EA3;
}
.step:hover{
	color: #A54540;
}
.top{
	padding: 0 0 25px 0;
	text-align: center;
}
.header{
	padding-top: 20px;
}
.title{
	font-weight: 900;
	font-size: 50px;
	color: #A54540;
}
.sub_title{
	font-weight: 100;
	font-size: 40px;
	color: #5F5F5F;
}
.modal-bg{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}
.modal{
	padding: 2%;
	margin-top: 100px;
	background-color: #ffffff;
	width: 60%;
	opacity: 1;
	margin-left: 20%;
	border-radius: 15px;
}
.alert{
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	/*min-height: 30px;*/
	line-height: 30px;
}
.error{
	background-color: #F1DEDE;
	color: #A54540;
	border: 1px solid #E9CCD1;
}
.warn{
	background-color: #FCF8E1;
	color: #896D32;
	border: 1px solid #FAEBC8;
}
hr{
	border-color: #5F5F5F;
	background-color: #5F5F5F;
	color: #5F5F5F;
	margin: 20px 0 0 0;
}
input[type=text], input[type=password] {
	background-color: #FCF8DF;
	color: #A1463E	;
	border: 0;
	margin-left:1px;
	box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
.selectize-dimensions{
	width: 100%;
	height: 38px;
	-webkit-appearance: menulist-button;
	color: #A9ABC0;
	font-size: 13px;
	background-color: #ffffff;
	border-color: #D0D0D0;
}
.next_step{
	float: right;
}
.footer{
	width: 60%;
	position: absolute;
	bottom: 0px;
	padding-top: 100px;
	color: #A9ABC0;
	font-style: italic;
	font-size: 12px;
}
.footer-text{
	float: left;
}
.footer-links{
	float: right;
}
