body {
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.content{
	left: 20%;
	top: 0px;
	margin: 0 auto;
	margin-top: 200px;
	width: 60%;
	position: absolute;
}
.modal-bg{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}
.modal{
	margin-top: 100px;
	background-color: #ffffff;
	width: 60%;
	min-height: 200px;
	opacity: 1;
	margin-left: 20%;
	border-radius: 15px;
}
.alert{
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	min-height: 30px;
	line-height: 30px;
}
.error{
	background-color: #F1DEDE;
	color: #A54540;
	border: 1px solid #E9CCD1;
}
.warn{
	background-color: #FCF8E1;
	color: #896D32;
	border: 1px solid #FAEBC8;
}