.major{
  height: 300px;
  width: 30%;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 3%;
  border: 1px solid black;
  font-weight: 300;
  position: relative;
}
.major:hover{
  cursor: pointer;
  opacity: 0.6;
}


.major_name{
  margin-top: 1em;
  font-size: 20px;
  text-align: center;
}
.percent_complete{
  margin-top: 1em;
  font-size: 60px;
  text-align: center;
}
.selected_major{
  display: none;
  position: absolute;
  float: right;
  color: #009900;
  font-size: 30px;
  right: 5px;
  top: 2px;
}
