/*##############################################
      PAGE HEADER
###############################################*/
.head{
  margin-bottom: 30px;
  width: 100%;
}
.head .welcome{
  font-size: 35px;
  color: black;
}

/*##############################################
      CHANGE/ADD INFO (ADD/EDIT)
###############################################*/
.edit_info{
  line-height: 50px;
  float: right;
  color: #4EA6EA;
}
.new_scenario{
  float: right;
  margin-bottom: 3px;
}

/*##############################################
      SCENARIOS
###############################################*/
.scenario{
  position: relative;
  float: right;
  width: 100%;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: -1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.scenario .major{
  font-size: 25px;
  margin-left: 10px;
}
.scenario .minor{
  font-size: 18px;
  margin-left: 35px;
}
.icon{
  display: none;
  position: absolute;
  right: 10px;
  top: 26%;
  font-size: 35px;
}
.scenario:hover .report{ display: block; }
.scenario:hover .delete{ display: block; }
.report{
  position: absolute;
  right: 60px;
  color: green;
}
.delete{
  color: #A54540 ;
}
.icon:hover{
  cursor: pointer;
  opacity: 0.8;
}