<head>
	<title>Courses
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/local.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/selectize.css') }}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,800,800italic,700' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/selectize.js') }}"></script>
    	<script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>


	<script type="text/javascript">
$(document).ready(function(){
    $('#myTable').DataTable();
});
	</script>
</head>


<body>
<div class="content">
      <div class="top">
        {% if 1>2 %}
          <form class="login-form" action="/api/user/login" method="POST">
            <span class="login-error"></span>
            <input type="text" name="email" placeholder="email..."/>
            <input type="password" name="password" placeholder="password..." />
            <span class="login-submit">Log In</span>
          </form>
        {% else %}
          <div class="user">{{session['email']}} (<span class="logout">log out</span>)</div>
        {% endif %}
        <div class="header">
          <span class="title">Marist</span>
          <span class="sub_title"><b>Admin</b> Credit Calculator</span>
        </div>
        <hr noshade>
      </div>

      <div class="nav">
        <a href="/admin/activity"><span class="step">Recent Activity - </span></a>
          <a href="/admin/users"><span class="step">Users -</span></a>
          <a href="/admin/courses"><span class="step">Courses </span></a>

        </span>
      </div>


<div> Current Courses for: {{user_name}}</div>

    <table id="myTable" class="tablesorter" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Course Number</th>
            <th>College ID</th>

        </tr>
        </thead>

        <tbody>
        {% for course in data.content.courses %}
        {% if loop.index%2==0 %}
        <tr class="alt">
        {% else %}
        <tr>
        {% endif %}
            <td>{{course['id']}}</td>
            <td>{{course['name']}}</td>
            <td>{{course['subject']}}</td>
            <td>{{course['course_number']}}</td>
            <td>{{course['college_id']}}</td>


        </tr>
        {% endfor %}
        </tbody>

</tbody>
</table>
<div>
    Class Requests:
    <a href="/admin/user_info/delete/{{userid}}" onclick="return confirm('Are you sure you would like to permanantly delete user:{{user_name}}?')">remove user</a>
</div>




<!-- add in a list when an item is selected show user and generate messege underneath?