{% extends "admin_frame.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/courses.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static',filename='css/users.css') }}" />
{% endblock %}

{% block content %}
<div> <a href=" /admin/course/mapping"></a></div>
<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Number</th>
            <th>College</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5">
                <div id="paging"><ul><li><a href="#">
                    <span>Previous</span></a>
                        </li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Next</span></a></li></ul></div></tr>
        </tfoot>
        <tbody>
        {% for course in data %}
        {% if loop.index%2==0 %}
        <tr class="alt">
        {% else %}
        <tr>
        {% endif %}
            <td><a href="/admin/course_info/{{course['course_id']}} + {{course['course_name']}}">{{course['course_id']}}</a></td>
            <td>{{course['course_name']}}</td>
            <td>{{course['course_subject']}}</td>
            <td>{{course['college_number']}}</td>
             {% if course['college_id']==1 %}
            <td>Dutchess</td>
            {% endif %}
            {% if course['college_id']==2 %}
            <td>Marist</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>

</tbody>
</table></div>


{% endblock %}
<!-- add in a list when an item is selected show user and generate messege underneath?