{% extends "admin_frame.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/courses.css') }}" />
 <link rel="stylesheet" href="{{ url_for('static',filename='css/users.css') }}" />
{% endblock %}

{% block content %}
<div> Recently Added Users:</div>
<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>College ID</th>
            <th>date/time</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4">
                <div id="paging"><ul><li><a href="#">
                    <span>Previous</span></a>
                        </li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Next</span></a></li></ul></div></tr>
        </tfoot>
        <tbody>
        <tr>
            <td>Brad Huntington</td>
            <td>1</td>
            <td>2</td>
            <td>06/29/1994</td>
        </tr>
        <tr class="alt">
            <td>Tom Morse</td>
            <td>2</td>
            <td>3</td>
            <td>09/07/2012</td>
        </tr>
        <tr>
            <td>Mason Crane</td>
            <td>3</td>
            <td>4</td>
            <td>04/03/2013</td>
        </tr>
</tbody>
</table></div>
<div>Requested Classes:</div>
<div class="datagrid">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>College</th>
            <th>date/time</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4">
                <div id="1paging"><ul><li><a href="#">
                    <span>Previous</span></a>
                        </li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Next</span></a></li></ul></div></tr>
        </tfoot>
        <tbody>

            <td>Brad Huntington</td>
            <td><a href ="/admin/">BUS 101</a></td>
            <td>DCCC</td>
            <td>06/29/1994</td>
        </tr>
        <tr class="alt">
            <td>Tom Morse</td>
            <td><a href ="/admin/">Ethics</a></td>
            <td>DCCC</td>
            <td>09/07/2012</td>
        </tr>
        <tr>
            <td>Mason Crane</td>
            <td><a href ="/admin/">Math</a></td>
            <td>DCCC</td>
            <td>04/03/2013</td>
        </tr>
</tbody>
</table></div>

{% endblock %}
<!-- add in a list when an item is selected show user and generate messege underneath?