<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/local.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/classes.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/selectize.css') }}" />
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/standalone/selectize.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <!--  modal will be hidden by default, triggered via JS-->
    <div class="modal-bg">
      <div class="modal">
    
      </div>
    </div>

    {% if data.alerts|length > 0 %}
        {% for alert in data.alerts %}
          <div class="alert {{alert.level}}">
            <i class="fa fa-exclamation-circle"></i> <span class="alert_message">{{ alert.msg }}</span>
          </div>
        {% endfor %}
    {% endif %}

    <div class="content">
        <select id="select-class">
          <!-- value will corespond with UID for classes in database -->
          <option value="">What classes have you taken?</option>
          {% for class in data.content.classes %}
             <option value="{{ loop.index }}">[{{ class.subject }}{{ class.number }}]  {{ class.title }}</option> 
          {% endfor %}
        </select>

        <ul class="classes">
        </ul>
    </div>
  </body>

      <script>
      $('#select-class').selectize();

      // triggered when a class is selected
      $( "#select-class" ).change(function() {
        // get info of class selected
        var class_id = $('#select-class').val();
        var class_title = $( "#select-class option:selected" ).text();

        //special case where we need to present the modal for requesting a new class
        if (class_id == "not-found"){
          // present modal
          $(".modal-bg").fadeIn();
          // reset dropdown
          $('#select-class')[0].selectize.clear();
        }else if (class_id != ""){
          // remove class from class select dropdown
          // works but disabled for testing
          //$('#select-class')[0].selectize.removeOption(class_id);

          // add class to list of added classes
          $('.classes').append('<li class="class"><span class="class-title">'+class_title+'</span><i class="remove fa fa-trash-o"></i></li>');
          // reset dropdown
          $('#select-class')[0].selectize.clear();
        }

        // triggered when a class is removed from the added classes list
        $(".class").click(function() {
          // remove class from added classes
          $(this).slideUp();
          var class_title = $(this).context.children[0].innerText;
          // TODO: add class back into dropdown
        });
      });
      
      // if background is clicked while modal is up, exit
      $(".modal-bg").click(function(){
        // hide modal
        $(".modal-bg").fadeOut();
      });

      // we need to have a second listener for the inner div to stop propagation when its clicked
      //     singce its on top of .modal-bg
      $(".modal").click(function(e){
        e.stopPropagation();
      });
    </script>
</html>
