<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/local.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/courses.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/selectize.css') }}" />
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/standalone/selectize.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,800,800italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  </head>
  <body>
    <!--  modal will be hidden by default, triggered via JS-->
    <div class="request_course modal-bg">
      <div class="modal">
    
      </div>
    </div>

    {% for alert in data.alerts %}
      <div class="alert {{alert.level}}">
        <i class="fa fa-exclamation-circle"></i> <span class="alert_message">{{ alert.msg }}</span>
      </div>
    {% endfor %}

    <div class="content">
      <div class="top">
      {% if not session['email'] %}
      <form class="login-form" action="/api/user/login" method="POST">
        <span class="login-error"></span>
        <input type="text" name="email" placeholder="email..."/>
        <input type="password" name="password" placeholder="password..." />
        <span class="login-submit">Log In</span>
      </form>
      {% else %}
        <div class="user">{{session['email']}} (<span class="logout">log out</span>)</div>
      {% endif %}
      <div class="header">
        <span class="title">Marist</span> <span class="sub_title">Credit Calculator</span>
      </div>
        <hr noshade>
      </div>
      <div class="nav">
      <span class="step_done"><a href="/">College</a></span>
      <span class="step">
       <span class="current_step"><i class="fa fa-long-arrow-right"></i> Classes </span>
       <i class="fa fa-long-arrow-right"></i> Majors 
       <i class="fa fa-long-arrow-right"></i> Minors 
       <i class="fa fa-long-arrow-right"></i> Save
       </span>
      </div>

        <select id="select-course" class="selectize-dimensions">
          <!-- value will corespond with UID for courses in database -->
          <option value="">What courses have you taken?</option>
          {% for course in data.content.courses %}
             <option value="{{ loop.index }}">[{{ course.subject }}{{ course.number }}]  {{ course.title }}</option> 
          {% endfor %}
          <option value="not-found">Request to add course</option>
        </select>

        <ul class="courses">
        </ul>
    </div>
  </body>

      <script>
      $(document).ready(function(){
        $(".current_step").animate({ color: "#A54540" }, 1000);
      });
      $('#select-course').selectize();

      // triggered when a class is selected
      $( "#select-course" ).change(function() {
        // get info of class selected
        var course_id = $('#select-course').val();
        var course_title = $( "#select-course option:selected" ).text();

        //special case where we need to present the modal for requesting a new class
        if (course_id == "not-found"){
          // present modal
          $(".request_course").fadeIn();
          // reset dropdown
          $('#select-course')[0].selectize.clear();
        }else if (course_id != ""){
          // remove course from course select dropdown
          // works but disabled for testing
          //$('#select-course')[0].selectize.removeOption(course_id);

          // add course to list of added courses
          $('.courses').append('<li class="course"><span class="course-title">'+course_title+'</span><i class="remove fa fa-trash-o"></i></li>');
          // reset dropdown
          $('#select-course')[0].selectize.clear();
        }

        // triggered when a course is removed from the added classes list
        $(".course").click(function() {
          // remove course from added courses
          $(this).slideUp();
          var course_title = $(this).context.children[0].innerText;
          // TODO: add course back into dropdown
        });
      });
      
      // if background is clicked while modal is up, exit
      $(".modal-bg").click(function(){
        // hide modal
        $(".modal-bg").fadeOut();
      });

      // we need to have a second listener for the inner div to stop propagation when its clicked
      //     singce its on top of .modal-bg
      $(".modal").click(function(e){
        e.stopPropagation();
      });

      $(".login-submit").click(function(e){
        e.preventDefault();
        var data = $('.login-form').serializeArray();
        $.post( "/api/user/login", data)
        .done(function( data ) {
          data = JSON.parse(data);
          if(data.success == true){
            location.reload();
          }else{
            $(".login-error").text(data.alerts[0].msg);
          }
        });
      });

      $(".logout").click(function(){
        $.get( "/api/user/logout", function( data ) {
          location.reload();
        });
      });
    </script>
</html>
