{% extends "frame.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/courses.css') }}" />
{% endblock %}

{% block content %}

<select id="select-course" class="selectize-dimensions">
  <!-- value will corespond with UID for courses in database -->
  <option value="">What courses have you taken?</option>
  {% for course in data.content.courses %}
    <option value="{{ loop.index }}">[{{ course.subject }}{{ course.number }}]  {{ course.title }}</option>
  {% endfor %}
  <option value="not-found">Request to add course</option>
</select>

<ul class="courses">
  {% for course in session['courses'] %}
    <li class="course" value="{{course['course_id']}}">
      <span class="course-title">{{course['course_name']}}</span>
      <i class="remove fa fa-trash-o"></i>
    </li>
  {% endfor %}
</ul>
<button class="next_step">Next</button>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $(".current_step").animate({ color: "#A54540" }, 1000);
  });

  $('#select-course').removeClass("selectize-dimensions");
  $('#select-course').selectize();

  $( "#select-course" ).change(function() {
    var course_id = $('#select-course').val();
    var course_title = $( "#select-course option:selected" ).text();

    if (course_id == "not-found"){//special case
      $(".request_course").fadeIn();//show modal
    }else if (course_id != ""){//general case
      $('.courses').append('<li class="course" value="'+course_id+'"><span class="course-title">'+course_title+'</span><i class="remove fa fa-trash-o"></i></li>');//display selected course in UI
    }
    $('#select-course')[0].selectize.clear();//reset selectize
  });

  $('.remove').click( function(){ $(this).parent().remove(); });//when delete class is clicked

  $(".next_step").click(function(){
    //build json obj of added courses
    var courses = [];
    var course_id, course_name;
    //build array of all courses
    $.each( $(".courses")[0].children, function( key, value ) {
      course_id = value.value;
      course_name = value.getElementsByClassName("course-title")[0].textContent
      courses.push({"course_id":course_id, "course_name":course_name});
    });

    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      url: '/api/user/courses',
      dataType : 'json',
      data : JSON.stringify({"courses":courses}),
      success : function(result) {
        window.location.href = 'majors';
      },error : function(result){
        console.log(result);
      }
    });
  });
</script>
{% endblock %}
