<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/local.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/selectize.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,800,800italic,700' rel='stylesheet' type='text/css'>
    <script src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/standalone/selectize.js') }}"></script>
  </head>
  <body>
    <div class="login modal-bg">
      <div class="modal">
      <div class="alert error">
        </i> <span class=" alert-error alert_message"></span>
      </div>
      <form class="login-form" action="/api/user/login" method="POST">
        <input type="text" name="email" />
        <input type="password" name="password" />
        <button class="login">Login</button>
      </form>
      </div>
    </div>

    {% for alert in data.alerts %}
      <div class="alert {{alert.level}}">
        <i class="fa fa-exclamation-circle"></i> <span class="alert_message">{{ alert.msg }}</span>
      </div>
    {% endfor %}

    <div class="content">

        <div class="top">
          {% if session['email'] is none %}
          <div class="login_btn">Log In</div>
          {% else %}
          <div class="user">{{session['email']}}</div>
          {% endif %}
          <div class="header">
            <span class="title">Marist</span> <span class="sub_title">Credit Calculator</span>
          </div>
          <hr noshade>
        </div>
         <div class="nav">
      <span class="step_done">College</span><span class="step"> > Classes > Majors > Minors > Save</span>
      </div>

        <select id="select-school">
          <!-- these will be pulled from api, but i have static values until then -->
          <option value="">Where do you currently attend college?</option>
          {% for college in data.content.colleges %}
             <option value="{{college.id}}">{{college.name}}</option> 
          {% endfor %}
        </select>
      </div>

    <script>
      $('#select-school').selectize();
      $( "#select-school" ).change(function() {
        //this function is triggered when a school is selected
        window.location.href = 'courses';
      });

      $(".login_btn").click(function(){
        $(".login").fadeIn();
      });
      
      // if background is clicked while modal is up, exit
      $(".modal-bg").click(function(){
        // hide modal
        $(".modal-bg").fadeOut();
      });

      // we need to have a second listener for the inner div to stop propagation when its clicked
      //     singce its on top of .modal-bg
      $(".modal").click(function(e){
        e.stopPropagation();
      });
      
      $(".login").click(function(e){
        e.preventDefault();
        var data = $('.login-form').serializeArray();
        $.post( "/api/user/login", data)
        .done(function( data ) {
          data = JSON.parse(data);
          if(data.success == true){
            location.reload();
          }else{
            $(".alert-error").text(data.alerts[0].msg);
          }
        });
      });
    </script>
  </body>
</html>
