{% extends "frame.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
{% endblock %}

{% block content %}
  <div class="description">
  <span class="welcome">Welcome, </span><br>
  The Marist Credit Calculator is a tool for students seeking to transfer into Marist. 
  You will be able to get an estimatie on which courses from your current school will transfer.
  We will also help you select a degree by calculating your percentage of completion for each degree. 
  </div>

  <div class="college">
    <div class="instructions">
      <i class="fa fa-arrow-down"></i>
      To get started, select your university
    </div>

    <select id="select" class="selectize-dimensions select-course">
      <!-- these will be pulled from api, but i have static values until then -->
      <option value="">Where do you currently attend college?</option>
      {% for college in data.content.colleges %}
        <option value="{{college.id}}">{{college.name}}</option>
      {% endfor %}
    </select>

  </div>

  <div class="courses hide">
    <div class="instructions">
      <button class="btn hide">Save</button>
      Select the courses you have completed
      <i class="fa fa-arrow-down"></i>
    </div>

    <select id="select" class="selectize-dimensions select-course">
      <!-- these will be pulled from api, but i have static values until then -->
      <option value="">What courses have you completed?</option>
    </select>

    <div class="selected">
      <!-- will be filled by courses upon their selection -->
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
  var url = window.location.href;
  if(url.substring(url.length-4, url.length) == "edit"){
    $.get("/api/user/college", function( data ) {
      obj = JSON.parse(data);
      $('.college #select')[0].selectize.setValue(obj.content.college_id);
    });
    $(".description").hide();
    $(".courses").show();
    $(".courses .btn").fadeIn();

  }

  var courses = [];

  //fix selectize ui quirk before initializing
  $('.college #select, .courses #select').removeClass("selectize-dimensions");
  //initialize selectize
  $('.college #select').selectize();
  $('.courses #select').selectize();

  //if a school has already been chosen (populated through either session or
  //account) then we want to display the course selection
  if ($("#select-school").val() != "") {
      populate_course_options($("#select-school").val());
      $('.add-school .fa-check-circle').show();
      $('.add-courses').show();
  }

    //user has chosen a college, advance to next step
    $('.college #select').change(function(){
      $(".description").slideUp();
      $(".courses").fadeIn();
      populate_course_options($(".college #select").val());
    });

    $( ".courses #select" ).change(function() {
      var course_id = $('.courses #select').val();
      var course_title = $( ".courses #select option:selected" ).text();

      if (course_id != ""){
        $(".college").slideUp();
        $(".courses").append("<div class='course'>"+course_title+"</div>");
        $(".courses .btn").fadeIn();
        courses.push(course_id);
      }
       $('.courses #select')[0].selectize.clear();//reset selectize
    });

    $('.remove').click( function(){ $(this).parent().remove(); });//when delete class is clicked

    //save data
    $( ".courses .btn" ).click(function() {
      window.location.href = "/overview";

      // console.log($('#select-school').val());
      // if($('#select-school').val() === ""){
      //   $(".error_text").text("You must select a college");
      //   $(".error").fadeIn();
      //   return;
      // }

      // if(courses.length<1){
      //   $(".error_text").text("You must add some courses");
      //   $(".error").fadeIn();
      //   return;
      // }


      $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url: '/api/user/courses',
        dataType : 'json',
        data : JSON.stringify({"courses":courses}),
        success : function(result) {
          console.log(result);
          $.get("/api/user/college/"+$('.college #select').val(), function( data ){
            window.location.href = "/overview";
          });
        },error : function(result){
          throw_page_error("Failed to save information, cannot proceed");;

        }
      });
    });

    //populate course selection with courses from specified college
    function populate_course_options(college_id){
      $.get("/api/college/"+college_id+"/course", function( data ) {
        $('.courses #select')[0].selectize.clearOptions();
        obj = JSON.parse(data);
        obj.content.courses.forEach(function(course){
          $('.courses #select')[0].selectize.addOption({value:course.id,text:course.title});
        });
      });
    }
  </script>

{% endblock %}
