{% extends "frame.html" %}

{% block imports %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/majors.css') }}" />
{% endblock %}

{% block content %}
  {% for major in data.majors | sort(attribute='percent', reverse=True) %}
    <div class="major">
      <i class="selected_major fa fa-check-circle-o"></i>
      <div class="major_name">{{major.name}}</div>
      <div class="percent_complete">{{major.percent}}%</div>
    </div>
  {% endfor %}
{% endblock %}

{% block script %}
<script>
$(".major").click(function(){
  $(this).find(".selected_major").toggle();

});
</script>
{% endblock %}
