{% extends "frame.html" %}

{% block imports %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/overview.css') }}" />
{% endblock %}

{% block content %}

<div class="head">
  {% if not session['email'] %}
  {% else %}
  <span class="welcome">Welcome back, Evan</span>
  {% endif %}
  <a href="/index"><span class="edit_info"><i class="fa fa-pencil"></i> Change College or Courses</span></a>
</div>

<div class="scenarios">
 <button class="new_scenario btn">New Scenario</button>

  {% for scenario in data.scenarios %}

  <div class="scenario">
    <div class="major">Major in {{scenario.major}}</div>
    <div class="minor">Minor in {{scenario.minor}}</div>
    <i class="fa fa-file-text icon report"></i>
    <i class="fa fa-trash icon delete"></i>
  </div>
  {% endfor %}
</scenarios>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
