{% extends "frame.html" %}

{% block imports %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/overview.css') }}" />
{% endblock %}

{% block content %}

<div class="head">
  {% if not session['email'] %}
  {% else %}
  <span class="welcome">Welcome back, Evan</span>
  {% endif %}
  <span class="welcome"> &nbsp;</span>
  <a href="/index#edit"><span class="edit_info"><i class="fa fa-pencil"></i> Change College or Courses</span></a>
</div>

<div class="scenarios">
 <button class="new_scenario btn">New Scenario</button>

  {% for scenario in data.scenarios %}

  <div class="scenario">
    <div class="major">Major in {{scenario.major}}</div>
    <div class="minor">Minor in {{scenario.minor}}</div>
    <i class="fa fa-file-text icon report"></i>
    <i class="fa fa-trash icon delete"></i>
  </div>
  {% endfor %}
</scenarios>

<div class="modalbg hide">
  <div class="modal hide">
    <div class="major_pane">
      <span class="header">Create a new scenario</span>
      <hr> 
      <div class="error"></div>
      Major: <span class="major_names"></span>
      <div class="description">Recommended Majors:</div>
      <div class="majors">
      </div>

      <div class="description">All Majors:</div>
      <select id="select" class="selectize-dimensions select-course">
        <option value="">Choose from all majors...</option>
        <option value="cj">Criminal Justice</option>
        <option value="bio">Biology</option>
      </select>
      <hr>
      <button class="btn">Continue</button>
    </div>

    <div class="minor_pane hide">
      <span class="header">Create a new scenario</span>
      <hr>
      <div class="error"></div>
      Minor: <span class="minor_names"></span>
      <div class="description">Recommended Minors:</div>
      <div class="majors">
      </div>

      <div class="description">All Minors:</div>
      <select id="select" class="selectize-dimensions select-course">
        <option value="">Choose from all minors...</option>
        <option value="cj">Criminal Justice</option>
        <option value="bio">Biology</option>
      </select>
      <hr>
        <button class="btn save">Save</button>
        <button class="btn back">Back</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
    var major = 0;
    var minor = 0;

    $('.modal #select').removeClass("selectize-dimensions");
    $('.modal #select').selectize();

    $(".new_scenario").click(function(){
      $(".minor_pane").hide();
      $(".major_pane").show();

      $('.modalbg, .modal').fadeIn();
      $.get("/majors", function( data ) {
        var obj = JSON.parse(data);
        $(".major_pane .majors").html("");
        obj.content.majors.forEach(function(major){
          $('.major_pane .majors').append('<div class="block" id="'+major.id+'"><i class="fa fa-check-circle-o hide"></i><div class="title">'+major.name+'</div><div class="percent">'+major.percent+'%</div></div>');
        });
        $('.majors .block').click(function(e){
          $(".major_pane .block .fa-check-circle-o").hide();
          $(this).find(".fa-check-circle-o").toggle();
          var id = $(this).attr('id');
          if (major != id){//if not in array, add it
            major = id;
            $(".major_names").text($(this).find('.title').text());
          }else{//else, must be in array so remove it
            major = 0;
            $(".major_names").text("");
            $(".major_pane .block .fa-check-circle-o").hide();
            $('.major_pane #select')[0].selectize.clear();
          }
        });
      });

      $.get("/minors", function( data ) {
        var obj = JSON.parse(data);
        $(".minor_pane .majors").html("");
        obj.content.minors.forEach(function(minor){
          $('.minor_pane .majors').append('<div class="block" id="'+minor.id+'"><i class="fa fa-check-circle-o hide"></i><div class="title">'+minor.name+'</div><div class="percent">'+minor.percent+'%</div></div>');
        });
        $('.minor_pane .block').click(function(e){
          $(".minor_pane .block .fa-check-circle-o").hide();
          $(this).find(".fa-check-circle-o").toggle();
          var id = $(this).attr('id');
          if (minor != id){//if not in array, add it
            minor = id;
            $(".minor_names").text($(this).find('.title').text());
          }else{//else, must be in array so remove it
            minor= 0;
            $(".minor_names").text("");
            $(".minor_pane .block .fa-check-circle-o").hide();
            $('.minor_pane #select')[0].selectize.clear();
          }
        });
      });
    });

    $(".modalbg").click(function(){
      $('.modalbg, .modal').fadeOut();
    });

    $(".major_pane .btn").click(function(){
      $(".modal").css({ "max-height":  $(".modal").height() });
      if(major > 0){
        $(".minor_pane").show();
        $(".major_pane").hide();
      }else{
        $('.major_pane .error').html("");
        $('.major_pane .error').append( '<div class="message"><i class=" fa fa-exclamation-triangle"></i> <span class="text">Please select a major</span></div>' );
      }
    });

    $(".minor_pane .back").click(function(){
      $(".modal").css({ "max-height":  $(".modal").height() });
      $(".major_pane").show();
      $(".minor_pane").hide();
    });
    $(".minor_pane .save").click(function(){
      if(minor > 0){
        $('.modalbg, .modal').fadeOut();
      }else{
        $('.minor_pane .error').html("");
        $('.minor_pane .error').append( '<div class="message"><i class=" fa fa-exclamation-triangle"></i> <span class="text">Please select a minor</span></div>' );
      }
    });
    $('.major_pane #select').change(function(){
      var title = $(this).text();
      var id = $(this).val();

      $(".major_pane .block .fa-check-circle-o").hide();
      $(".major_names").text(title);

      if (major != id){//if not in array, add it
        major = id;
        $(".major_names").text(title);
      }else{//else, must be in array so remove it
        major = 0;
        $(".major_names").text("");
        $(".major_pane .block .fa-check-circle-o").hide();
        $('.major_pane #select')[0].selectize.clear();
      }
    });
    $('.minor_pane #select').change(function(){
      var title = $(this).text();
      var id = $(this).val();

      $(".minor_pane .block .fa-check-circle-o").hide();
      $(".minor_names").text(title);

      if (minor != id){//if not in array, add it
        minor = id;
        $(".minor_names").text(title);
      }else{//else, must be in array so remove it
        major = 0;
        $(".minor_names").text("");
        $(".minor_pane .block .fa-check-circle-o").hide();
        $('.minor_pane #select')[0].selectize.clear();
      }
    });

</script>
{% endblock %}
